<h1>Admin::Dashboard#show</h1>
<div class = "bg-info  p-4">
<h2 class="text-success text-center">Total Available Products: <%= @product_count %></h2> 
<h2 class="text-success text-center">Total Available Categories: <%= @category_count %></h2>
</div>
