
<div class="card text-white bg-warning mb-4">
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">Welcome to Jungle. Jungle is established in 2019. It provides a wide variety of products at a reasonable price.
                It is based on providing quality service in short time. Jungle is founded by Michael and Rijo. Within short amount of time 
                Jungle could grow so fast due to the dedication of employees. 
                
                Jungle has a variety of products. Branded apparels are sold at a low price. We are taking the products from wholesale stores in bulk quantity and
                we are selling it at a reduced price. We use the profit gained by the business to enhance our business and improve the quality of the service.
                
                A wide variety of furnitures are also available. We are planning to provide a service to sell used furnitures at a reasonable price also.
                Reusability saves money. Based on the customer feedback, we will proceed with it. </p>
            </div>
        </div>

        